# Python
__pycache__/
*.py[cod]
venv/
.env

# Spark
*.jar
metastore_db/
spark-warehouse/
derby.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Data (keep sample files)
# data/*.csv
# data/*.json

# Checkpoints
checkpoints/
